/* Fonts- Poppins, Volkhov, inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* root colors */
:root {
  --orange-color: #fa7436;
  --black-color: #222222;
  --blue-background-color: #f1f2f7;
  --grey-color: #666666;
}

/* Resetting default style */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Common style */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

header,
footer,
section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}
/* navbar */
.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding-bottom: 1.2rem;
  z-index: 100000;
}
.navbar a {
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar ul a:hover {
  background-color: #fa7436;
  color: #fff;
}
/* logo style */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.logo-name {
  font-size: 1.5rem;
}
.logo-vector {
  width: 20px;
  height: 20px;
}
/* Nav menu */
.nav-menu {
  display: flex;
  gap: 1rem;
}
.nav-menu a {
  color: #000;
}
/* login-signup  */
.login-signup {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
a.login {
  color: #000;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
a.login:hover {
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
}
.btn.light-btn.signup-btn {
  background-color: var(--orange-color);
  color: white;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}
.btn.light-btn.signup-btn a {
  color: inherit;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn.light-btn.signup-btn:hover {
  background-color: white;
  color: var(--orange-color);
  border: 2px solid var(--orange-color);
}

/* All button style  */
.btn {
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.light-btn {
  background-color: var(--orange-color);
}
.btn a {
  color: #fff;
}

/* Common syles for all a, li, h2, h3 items */
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h2,
h3 {
  font-family: volkhov, sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
section {
  margin-top: 20vh;
}
p {
  color: #666666;
  line-height: 2;
}
.text-light-color {
  color: var(--orange-color);
}

/* Hero Section */
.hero-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}
.hero-section .hero-top {
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}
.hero-section .hero-top .content {
  margin-top: 10vh;
  width: 45%;
}

.hero-section .hero-top h1 {
  margin-bottom: 1.5rem;
}
.hero-section .hero-top .discover-btn {
  border: solid 1px var(--orange-color);
  display: inline-block;
  margin-top: 1.5rem;
}
.hero-section .hero-top .discover-btn a {
  color: var(--orange-color);
}
/* Hero image - right side */
.hero-section .hero-top .hero-image {
  position: relative;
  width: 55%;
  align-self: flex-end;
}
.hero-section .hero-top .hero-image img.hero {
  position: relative;
  z-index: 10;
}
.hero-image img.hero-aeroplane {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-image .card {
  padding: 6px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  gap: 12px;
  flex-wrap: wrap;
  max-width: 200px;
}
.hero-image .card .content {
  padding: 0;
  margin: 0;
}

.hero-image .card h4 {
  font-weight: 600;
  font-size: 16px;
}
.hero-image .achievement {
  z-index: 10;
  top: 25%;
  left: 0;
  transform: translateX(-50%);
}
.hero-image .explore {
  z-index: 10;
  top: 45%;
  left: 40%;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
  transform: translateX(20%);
}
.hero-image .star-rating {
  z-index: 10;
  top: 70%;
  left: 0%;
  overflow: hidden;
  transform: translateX(-10%);
}
.hero-image .explore .content span,
.hero-image .star-rating .content span {
  font-size: 12px;
}
/* Hero section search bar */
.hero-section .search-bar {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hero-section .search-bar .searchbar-content {
  flex: 1;
  padding: 4px;
}
.searchbar-content.btn.light-btn {
  text-align: center;
  align-self: center;
  padding: 16px 8px;
}

.search-bar .searchbar-content .search-heading::after {
  content: url("assets/down-angle.svg");
  padding-left: 8px;
  vertical-align: text-bottom;
}
.hero-section .search-bar .searchbar-content .search-content {
  font-size: 14px;
}

/* Things you need to do section */

.things-todo {
  margin-top: 100px;
  width: 100%;
  height: 90vh;
  background-color: var(--blue-background-color);
}
.things-todo .todo-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 2rem;
  margin: 1rem auto;
  margin-top: 10%;
  gap: 25px;
}
.things-todo .todo-content .left {
  text-align: center;
  justify-self: center;
}

.things-todo .todo-content .left h2 {
  margin-bottom: 1rem;
}
.things-todo .todo-content .right img {
  width: 150px;
  height: 120px;
}

.things-todo .cards {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.things-todo .cards .card {
  flex: 1;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
}
.things-todo .cards .card img {
  margin-bottom: 1rem;
}
.things-todo .cards .card p {
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Deals Discounts */
.deals-discounts {
  width: 100%;
  height: 110vh;
  margin-top: 100px;
}
.deals-discounts .deals-content {
  text-align: center;
}
.deals-discounts .deals-content p {
  margin-top: 12px;
}
.deals-discounts .cards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.deals-discounts .cards .card {
  flex: 1;
  width: 18%;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
}
.deals-discounts .cards .card img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 12px;
}
.deals-discounts .cards .card2 {
  position: relative;
}
.deals-discounts .cards .card:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0%;
  opacity: 0.3;
  border-radius: 12px;
  background-color: var(--grey-color);
}
.deals-discounts .cards .card2 .book-now-btn {
  position: absolute;
  z-index: 10;
  left: 25%;
  bottom: 35%;
}
.deals-discounts .cards .card .card-content {
  padding: 0.5rem;
}
.deals-discounts .cards .card .card-content .upper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
}
.deals-discounts
  .cards
  .card
  .card-content
  .upper-content
  .star-rating::before {
  content: url("assets/star.png");
  padding-right: 8px;
}
.deals-discounts .cards .card .card-content .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 14px;
}
.deals-discounts .cards .card .card-content .footer-content .country::before {
  content: url("assets/location-deals-discounts.svg");
  padding-right: 8px;
  vertical-align: text-top;
}
.deals-discounts .cards .card .card-content .footer-content .price {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.deals-discounts
  .cards
  .card
  .card-content
  .footer-content
  .price
  .discounted-price {
  color: var(--orange-color);
  padding: 1px;
  border-radius: 3px;
  font-weight: 600;
  background-color: rgba(250, 116, 54, 0.3);
}
.deals-discounts .left-right-arrow {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

/* Best Vacation Plan */

.best-vacation-plan {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
.best-vacation-plan .vacation-plan-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin-bottom: 5vh;
}
.best-vacation-plan .left-right-arrow {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.best-vacation-plan .cards {
  width: 90%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
.best-vacation-plan .cards .card {
  width: 30%;

  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
}
.best-vacation-plan .cards .card img {
  width: 100%;
  height: 270px;
}
.best-vacation-plan .cards .card .card-content {
  padding: 0.5rem;
}
.best-vacation-plan .cards .card .card-content .upper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.best-vacation-plan .cards .card .card-content .upper-content .price {
  color: var(--orange-color);
  font-weight: 600;
}
.best-vacation-plan .cards .card .card-content .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
}
.best-vacation-plan
  .cards
  .card
  .card-content
  .footer-content
  .duration::before {
  content: url("assets/paper-plane-arrow-right.svg");
  padding-right: 12px;
  vertical-align: text-top;
}
.best-vacation-plan
  .cards
  .card
  .card-content
  .footer-content
  .star-rating::before {
  content: url("assets/star.png");
  padding-right: 6px;
}

/* Testimonial Section */
.testimonial {
  width: 100%;
  height: 90vh;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--blue-background-color);
}
.testimonial .testimonial-content {
  width: 90%;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
}
.testimonial .testimonial-content p {
  font-size: 13px;
}
.testimonial .testimonial-content .testimonial-content-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 35%;
}
.testimonial .testimonial-content .testimonial-content-left .left-right-arrow {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.testimonial .testimonial-content .testimonial-content-right {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  max-width: 55%;
}
.testimonial .testimonial-content .testimonial-content-right .right img {
  transform: translateX(50%);
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimonycard-content {
  padding: 3rem 2rem 1rem 2rem;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.testimonial .testimonial-content .testimonial-content-right .left {
  position: relative;
}
.testimonial .testimonial-content .testimonial-content-right .left .testimony1 {
  position: absolute;
  z-index: 50;
  top: -5%;
  left: -5%;
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards
  .info-name {
  font-weight: 600;
  margin-top: 1rem;
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards
  .info-location {
  font-weight: 300;
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards {
  position: relative;
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards
  .testimonycard1 {
  position: relative;
  z-index: 10;
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards
  .testimonycard2 {
  position: absolute;
  padding-top: 3rem;
  padding-right: 4rem;
  top: 30%;
  opacity: 0.4;
  transform: translateX(15%);
}
.testimonial
  .testimonial-content
  .testimonial-content-right
  .left
  .testimony-cards
  .testimonycard2
  .info-location {
  padding-bottom: 0;
}

/* Blog */
.blog {
  margin-top: 150px;
  width: 100%;
  height: 100vh;
}
.blog h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.blog .cards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.blog .cards .card {
  flex: 1;
  width: 18%;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
}
.blog .cards .card img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-radius: 12px;
}
.blog .cards .card .card-content {
  padding: 0.7rem 0.5rem;
  font-size: 15px;
}
.blog .cards .card .card-content time {
  font-family: inter;
  font-size: 14px;
  opacity: 0.8;
}
.blog .cards .card .card-content h4 {
  margin-bottom: 1rem;
}

/* footer */
footer {
  width: 100%;
  height: 100vh;
  background-color: var(--blue-background-color);
}

/* subscribe */
footer .subscribe {
  width: 90%;
  height: 50vh;
  background-color: #fa7436;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 12px;
  padding: 1rem;
  transform: translateY(-50%);
  position: relative;
}
.subscribe .ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
}
.subscribe .coconut-tree {
  position: absolute;
  top: 0;
  right: 0;
}
footer .subscribe h2 {
  margin-top: 3rem;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}
footer form {
  margin-left: 20px;
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer form input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 2;
  border-radius: 8px;
  padding: 1rem;
  padding-left: 2rem;
  border: 0;
  width: 50%;
  color: #000;
  position: relative;
}
footer .subscribe .subscribe-btn {
  transform: translate(-110%);
}
footer .subscribe form::before {
  content: url("assets/mail-box.svg");
  position: relative;
  z-index: 100;
  left: 25px;
  top: 3px;
}
footer .subscribe img.mail-box {
  position: relative;
  z-index: 100;
}

/* Footer links */
.footer-links {
  margin-top: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links .left-side-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer-links .left-side-content .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
}
.footer-links .left-side-content .social-media li {
  padding: 0;
  margin: 0;
}
/* Right side footer links */

.footer-links .right-side-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-links .right-side-content ul.links {
  margin: 2rem 0 0;
}
.footer-links .right-side-content ul li {
  margin: 1rem 0;
}
.footer-links .right-side-content ul li a {
  color: #000;
  opacity: 0.7;
}
/* copyright */
.copyright {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.copyright a {
  color: #000;
  opacity: 0.7;
}

/* Media Query */
@media (max-width: 1024px) {
  .wrapper {
    max-width: 958px;
    margin: 0 auto;
  }
  header,
  footer,
  section {
    width: 100%;
  }
  /* hero section */
  .hero-section {
    margin: 0 auto;
    height: 130vh;
    margin-top: 50px;
  }
  .search-bar {
    width: 90%;
    margin: 0 auto;
  }
  /* Things to do */
  .things-todo {
    margin-top: 40vh;
    height: 110vh;
  }
  /* deals discounts */
  .deals-discounts {
    height: 125vh;
  }

  /* best vacation plan */
  .best-vacation-plan {
    height: 125vh;
  }
  /* testimonial */
  .testimonial {
    height: 110vh;
  }
  /* blog */
  .blog {
    height: 120vh;
  }
  .blog .cards {
    width: 93%;
  }
  /* footer */
  .subscribe {
    height: 75vh;
  }
  .subscribe h2 {
    font-size: 34px;
  }
  .subscribe form {
    margin-top: 0;
  }
  .subscribe form input {
    font-size: 15px;
  }
  .subscribe .subscribe-btn {
    padding: 0.7rem;
  }
}

/* max-width: 958px */
@media (max-width: 958px) {
  .hero-section {
    width: 96%;
    height: 200vh;
  }
  .hero-section .hero-top {
    width: 96%;
  }

  /* things to do */
  .things-todo {
    width: 100%;
    height: 120vh;
    margin-top: 325px;
  }
  /* Deals and discounts */
  .deals-discounts .cards {
    width: 100%;
    gap: 1%;
  }
  /* best-vacation-plan */
  .best-vacation-plan {
    height: 110vh;
  }
  .best-vacation-plan .cards {
    width: 100%;
  }
  /* testimonial */
  .testimonial {
    width: 100%;
    height: 140vh;
  }
  /* blog */
  .blog .cards {
    width: 100%;
  }
  /* footer */
  footer {
    height: 140vh;
  }
  .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .footer-links .left-side-content {
    position: relative;
    align-items: flex-start;
    margin-bottom: 5vh;
  }
  .footer-links .left-side-content ul {
    position: absolute;
    left: 150%;
  }
  .footer-links .left-side-content ul::before {
    content: "Follow: ";
    font-size: 18px;
    padding-right: 1rem;
    font-weight: bold;
  }
}
